.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img {
  width: 200px;
  height: 200px;
}
.displayDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
